@import "compass";

$language: "tr";

@import "button-icon/*.png";
@import "ribbon-small-tr/*.png";
@import "ribbon-large-tr/*.png";

$button-icon-sprite-dimensions: ttre;
$ribbon-small-tr-sprite-dimensions: ttre;
$ribbon-large-tr-sprite-dimensions: ttre;

@include all-button-icon-sprites();
@include all-ribbon-small-tr-sprites();
@include all-ribbon-large-tr-sprites();

#logo {
	$logoImage: "src-#{$language}/logo.png";

	width: image-width($logoImage);
	height: image-height($logoImage);
	background: transparent inline-image($logoImage) no-repeat 0 0;
}

.icon {
	&.overlay-icon-recipe-of-the-month {
		$overlayImage: "src-#{$language}/recipe-of-the-month.png";

		width: image-width($overlayImage);
		height: image-height($overlayImage);
		background-image: inline-image($overlayImage);
	}

	&.overlay-icon-new {
		$overlayImage: "src-#{$language}/new.png";

		width: image-width($overlayImage);
		height: image-height($overlayImage);
		background-image: inline-image($overlayImage);
	}
}

#main-container {
	#main-content {
		.product-detail {
			.display {
				.zoom {
					$zoomIconImage: "src-#{$language}/zoom.png";
					$zoomIconWidth: image-width($zoomIconImage);
					$zoomIconHeight: 19px;
					width: $zoomIconWidth;

					background: transparent inline-image($zoomIconImage) no-repeat 0 0;

					&.zoomed {
						background-position: 0 $zoomIconHeight * -1;
					}
				}
			}
		}
	}

	#footer-meta {
		.facebook {
			$largeFacebookImage: "src/footer_facebook_large.gif";
			
			height: image-height($largeFacebookImage);
			background: transparent inline-image($largeFacebookImage) no-repeat 0 0;
		}
	}
}
